/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f0f2f5;
  color: #222;
  overflow-x: hidden;
}

/* ==== HEADER ==== */
header {
  background: linear-gradient(135deg, #000, #6657e7);
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

header h1 {
  font-size: 45px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-shadow: 0 3px 15px rgba(0,0,0,0.3);
}

/* ==== MENÚ ==== */
nav {
  margin-top: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  font-size: 18px;
  padding-bottom: 6px;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in-out;
}

nav a:hover {
  border-bottom: 2px solid #8f00c8;
  transform: translateY(-3px);
}

/* ==== TÍTULO ==== */
h2 {
  text-align: center;
  margin: 50px auto 25px;
  font-size: 34px;
  font-weight: 700;
  color: #4c2ed3;
  text-transform: uppercase;
  animation: fadeUp 0.8s ease-in-out;
}

h2::after {
  content: '';
  width: 70px;
  height: 4px;
  background: #05477c;
  display: block;
  margin: 10px auto 0;
  border-radius: 10px;
}

/* ==== CONTENIDO ==== */
.contenido {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  color: #333;
  line-height: 1.6;
  padding: 0 20px 60px;
  animation: fadeUp 1s ease-in-out;
}

.contenido p {
  margin-bottom: 18px;
  font-weight: 500;
  background: #ffffff;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 8px 22px rgba(97, 29, 29, 0.08);
  transition: 0.3s ease;
}

.contenido p:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(148, 40, 40, 0.18);
}

/* ==== FOOTER ==== */
footer {
  background: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

/* ANIMACIÓN */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
